.pdfViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 864px;
  // gap: 32px;

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 80px;
  }

  &__Boxpage {
    background: #b8b8b84d;
    height: 80px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__page {
    padding: 0 71px;
    font-size: 24px;
    font-weight: 600;
    color: #004662;
  }

  &__buttonPagination {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background: #004662;
    border: none;
    cursor: pointer;
  }

  &__buttonPaginationNone {
    opacity: 0.3;
  }
}

.viewer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.canvas {
  width: 531px;
  height: 752px;
  border-radius: 60px;
}

.canvasMore {
  width: 531px;
  height: 752px;
}


.loaderWrapper {
  height: 867px;
}