.gallery {
  margin: auto;
  width: 100%;
  * {
    user-select: none;
  }
}

.thumbsWrapper {
  margin-top: 12px;
}

.swiper {
}

.thumb {
  /* width: 139px; */
  aspect-ratio: 1;
  /* height: 139px; */
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.thumb:hover {
  /* border-color: #ccc; */
}

.active {
  padding: 8px;
  border: 4px solid #004662;
  border-radius: 12px;
  transition: none;
}
